{# layout.html.twig #}
{% spaceless %}
<!doctype html>
<html lang="{{ app.session.locale }}">
    <head>
        {% block head %}
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <meta content="index,follow" name="robots" />
            <meta content="{% block description 'sfbcn.meta.description'|trans %}" name="description"/>
            <meta content="{% block keywords 'sfbcn.meta.keywords'|trans %}" name="keywords"/>
            <meta content="7 days" name="revisit-after"/>
            <title>{% block title 'sfbcn.meta.title'|trans %}</title>
            {% stylesheets '@SFBCNWebsiteBundle/Resources/public/css/01-normalize.css'
                           '@SFBCNWebsiteBundle/Resources/public/css/*-web-*.css' %}
                <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}
            <link href="http://fonts.googleapis.com/css?family=Quicksand:300,400,700" rel="stylesheet" type="text/css"/>
        {% endblock %}
        <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        {% block analytics %}
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ ga_tracking }}']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>
        {% endblock %}
    </head>
    <body>
        <header id="header">
            {% image output="images/cabecera.png"
                           "@SFBCNWebsiteBundle/Resources/public/images/sfbcn-logo.png" %}
                <img src="{{ asset_url }}" alt="{{ block('title') }}"/>
            {% endimage %}
            <nav>
                {% include 'SFBCNWebsiteBundle::menu.html.twig' %}
                {% include 'SFBCNWebsiteBundle::social.html.twig' %}
            </nav>
        </header>
        <div id="content">
            {% block content '' %}
        </div>
        <footer id="footer">
            {% include 'SFBCNWebsiteBundle::footer.html.twig' %}
        </footer>
        {% block scripts %}
            {% javascripts '@SFBCNWebsiteBundle/Resources/public/js/*' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
{% endspaceless %}