{# menu.html.twig #}
<ul class="main-menu">
    <li class="link-home first{% if current is not defined or current == 'home'%} current{% endif %}"><a href="{{ path('home') }}">{{ 'sfbcn.links.home'|trans }}</a></li>
    <li class="link-news{% if current is defined and current == 'news' %} current{% endif %}"><a href="{{ path('news_index') }}">{{ 'sfbcn.links.news'|trans }}</a></li>
    <li class="link-events{% if current is defined and current == 'events' %} current{% endif %}"><a href="{{ path('events_public_index') }}">{{ 'sfbcn.links.events'|trans }}</a></li>
    <li class="link-about{% if current is defined and current == 'about' %} current{% endif %}"><a href="{{ path('about') }}">{{ 'sfbcn.links.about'|trans }}</a></li>
    <li class="link-contact last{% if current is defined and current == 'contact' %} current{% endif %}"><a href="{{ path('contact') }}">{{ 'sfbcn.links.contact'|trans }}</a></li>
</ul>