{# social.html.twig #}
<ul>
	<li><a href="http://www.facebook.com/pages/Symfony-Madrid/263459737000849" id="facebook"><img src={{ asset('bundles/sfmwebsite/images/facebook.png') }} width="64" height="64" alt="facebook"/></a></li>
	<li><a href="http://twitter.com/#!/symfony_madrid" id="twitter"><img src={{ asset('bundles/sfmwebsite/images/twitter.png') }} width="64" height="64" alt="twitter"/></a></li>
	<li><a href="https://plus.google.com/110459827478804956885/about" id="google_plus"><img src={{ asset('bundles/sfmwebsite/images/google_plus.png') }} width="64" height="64" alt="google plus"/></a></li>
	<li><a href="https://github.com/symfony-madrid" id="github"><img src={{ asset('bundles/sfmwebsite/images/github.png') }} width="64" height="64" alt="github"/></a></li>
	<li><a href="#" id="rss"><img src={{ asset('bundles/sfmwebsite/images/rss.png') }} width="64" height="64" alt="rss"/></a></li>
</ul>	