{# News/index.html.twig #}
{% extends 'SFBCNWebsiteBundle::layout.html.twig' %}

{% block content %}
    <section class="page-content news">
        <h1>Noticias</h1>
        {% for rssnews in rssnewsArray %}
            {% for rssnew in rssnews %}
                <article class="hentry">
                    <h2 class="entry-title">
                        <a href="{{ rssnew.link }}" target="_blank">{{ rssnew.title }}</a>
                        <small class="date-header">{{ rssnew.pubDate|date('d/m/Y H:i') }}</small>
                    </h2>
                    <p class="entry-content">{{ rssnew.description | replace({'&lt;':'<', '&gt;':'>'}) | striptags | truncate(420) | raw }}</p>
                </article>
            {% else %}
                {{ 'sfbcn.news.empty'|trans|raw }}
            {% endfor %}
        {% endfor %}
    </section>
{% endblock %}
