{# News/index.html.twig #}
{% extends 'SFBCNWebsiteBundle::layout.html.twig' %}

{% block content %}
    <section class="page-content news">
        {% for rssnews in rssnewsArray %}
            {% for rssnew in rssnews %}
                <h3 style="display:inline"><a href="{{ rssnew.link }}" target="_blank">{{ rssnew.title }}</a></h3><small>&nbsp; {{ rssnew.pubDate }}</small>
                <p>{{ rssnew.description | replace({'&lt;':'<', '&gt;':'>'}) | striptags | truncate(420) | raw }}</p>
            {% else %}
                {{ 'sfbcn.news.empty'|trans|raw }}
            {% endfor %}
        {% endfor %}
    </section>
{% endblock %}