{% extends 'SFMWebsiteBundle::adminlayout.html.twig' %}
{%block content %}
<h1>Event</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ entity.title }}</td>
        </tr>
        <tr>
            <th>Body</th>
            <td>{{ entity.body }}</td>
        </tr>
        <tr>
            <th>DateTime</th>
            <td>{{ entity.datetime|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Location</th>
            <td>{{ entity.location }}</td>
        </tr>
        <tr>
            <th>Gmaps</th>
            <td>{{ entity.gmaps }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('event') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('event_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('event_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
