{# Default/index.html.twig #}
{% extends 'SFMWebsiteBundle::layout.html.twig' %}

{% block content %}


<section class="group1">
    <h3>Próximo Evento</h3>
    {% if nextEvent == null %}
    No hay previsto ningún evento en los próximos días
    {% else %}
    <h4><a href="{{ path('events_public_show', { 'id': nextEvent.id, 'slug': nextEvent.slug })  }}">{{ nextEvent.title }}</a></h4>
    <ul>
        <li><strong>¿Cuándo?</strong> {% if nextEvent %}<span class="next-event-date"> {{ nextEvent.datetime|date('d/M/Y H:i') }}</span>{% endif %}</li>
        <li><strong>¿Dónde?</strong> {% if nextEvent %}<span class="next-event-location"> {{ nextEvent.location }}</span>{% endif %}</li>
    </ul>
        {% if nextEvent.gmaps is not empty %}
    <iframe class="photo_hover3" width="240" height="214" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{ nextEvent.gmaps }}&amp;output=embed"></iframe>
    <br /><a href="{{ nextEvent.gmaps }}" target="_blank">Muestra un mapa más grande</a>
        {% endif %}
    {% endif %}
    <h3>En flicker</h3>
    {% render "SFMWebsiteBundle:Widgets:flickr" %}
</section>

<section class="group2">
    <h3>En la lista</h3>
    {% render "SFMWebsiteBundle:Widgets:googleGroup"%}
</section>

<section class="group3">
    <h3>En twitter</h3>
{% render "SFMWebsiteBundle:Widgets:twitter"%}
</section>

<div style="clear: both;"></div>

{% endblock %}