{# Default/about.html.twig #}
{% extends 'SFBCNWebsiteBundle::layout.html.twig' %}

{% block content %}
    <section class="page-content about">
        <h1>Miembros</h1>
        <p>Aquí podéis ver a los miembros de Symfony Barcelona</p>
        <ul class="members">
            {% for member in members %}
                <li class="member">
                    <h2>{{ member.name }}</h2>
                    <img class="avatar" src="{{ member.foto|default('https://a248.e.akamai.net/assets.github.com/images/gravatars/gravatar-140.png') }}" alt="{{ member.name }}" />
                    <p>{{ member.description|default('') }}</p>
                    <ul class="links">
                        {% if member.web is defined %}<li><a class="web" href="{{ member.web }}" title="{{ member.web }}">{{ member.web }}</a></li>{% endif %}
                        {% if member.email is defined %}<li><a class="email" href="#" title="{{ member.email }}">{{ member.email }}</a></li>{% endif %}
                        {% if member.github is defined %}<li><a class="github" href="https://github.com/{{ member.github }}" title="https://github.com/{{ member.github }}">{{ member.github }}</a></li>{% endif %}
                        {% if member.twitter is defined %}<li><a class="twitter" href="http://twitter.com/#!/{{ member.twitter }}" title="http://twitter.com/#!/{{ member.twitter }}">{{ member.twitter }}</a></li>{% endif %}
                        {% if member.facebook is defined %}<li><a class="facebook" href="http://facebook.com.com/{{ member.facebook }}" title="http://facebook.com/{{ member.facebook }}">{{ member.facebook }}</li>{% endif %}
                        {% if member.linkedin is defined %}<li><a class="linkedin" href="http://es.linkedin.com/in/{{ member.linkedin }}" title="http://es.linkedin.com/in/{{ member.linkedin }}">{{ member.github }}</a></li>{% endif %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}