{# Default/about.html.twig #}
{% extends 'SFBCNWebsiteBundle::layout.html.twig' %}

{% block content %}
    <section class="page-content about">
        <h1>Miembros</h1>
        <p>Aquí podéis ver a los miembros de Symfony Barcelona</p>
        {% for member in members %}
            <div class="member">
                <div class="avatar">
                    {% if member.foto is defined %}
                        <img src="{{ member.foto }}" alt="{{ member.name }}"/>
                    {% else %}
                        <img src="https://a248.e.akamai.net/assets.github.com/images/gravatars/gravatar-140.png"  alt="{{ member.name }}"/>
                    {% endif %}
                </div>
                <h2>{{ member.name }}</h2>
                <p>{% if member.email is defined %}{{ member.email }}{% endif %}</p>
                <p>{% if member.github is defined %}<a href="https://github.com/{{ member.github }}">{{ member.github }}</a>{% endif %}</p>
                <p>{% if member.twitter is defined %}<a href="http://twitter.com/#!/{{ member.twitter }}">{{ member.twitter }}</a>{% endif %}</p>
            </div>
            {% if loop.index is divisibleby(2) %}<div class="clear"></div>{% endif %}
        {% endfor %}
    </section>
{% endblock %}