{# Default/index.html.twig #}
{% extends 'SFBCNWebsiteBundle::layout.html.twig' %}

{% block content %}
    <section class="page-content home">
        <article>
            <h1>Lorem ipsum dolor sit amet</h1>
            <p>Consectetur adipiscing elit. Praesent viverra volutpat neque a commodo. Curabitur eget massa quis odio consequat mollis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cum sociis natoque penatibus, et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse vehicula odio id mi blandit quis ornare urna luctus. Etiam justo augue, fringilla sit amet tincidunt nec, placerat vitae turpis. Quisque ac lectus non diam blandit viverra.</p>
        </article>
        <article>
            <h1>Próximo Evento</h1>
            {% if nextEvent == null %}
                No hay previsto ningún evento en los próximos días
            {% else %}
                <h4>{{ nextEvent.title }}</h4>
                Fecha y hora: {{ nextEvent.datetime|date('Y-M-d H:i') }}<br />
                Lugar: {{ nextEvent.location }}<br />
                <a href="{{ path('events_public_show', { 'id': nextEvent.id })  }}">+ info</a><br />
                <iframe width="320" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{ nextEvent.gmaps }}&amp;output=embed"></iframe>
                <br /><small><a href="{{ nextEvent.gmaps }}" style="color:#0000FF;text-align:left">Muestra un mapa más grande</a></small>

            {% endif %}
        </article>
        <article id="twitterfeed">
            <script src="http://widgets.twimg.com/j/2/widget.js"></script>
            <script>
            new TWTR.Widget({
              version: 2,
              type: 'profile',
              rpp: 10,
              interval: 30000,
              width: 'auto',
              height: 300,
              theme: {
                shell: {
                  background: '#333333',
                  color: '#eaeaea'
                },
                tweets: {
                  background: '#eaeaea',
                  color: '#222222',
                  links: '#759E1A'
                }
              },
              features: {
                scrollbar: true,
                loop: false,
                live: true,
                behavior: 'all'
              }
            }).render().setUser('symfony_bcn').start();
            </script>
        </article>
    </section>
    <aside class="related">
        <article>
            <h1>{{ 'sfbcn.index.helloworld'|trans }}</h1>
            <p>Cras ut luctus turpis. Cras rhoncus rhoncus ante ac tempus. Sed rhoncus lacus et massa feugiat dictum. Nunc enim leo, vestibulum ut lacinia eget, ullamcorper at nisl. Aenean viverra suscipit ligula tincidunt condimentum. Donec eget lacus leo, a vehicula est. Duis consequat elit vel sem ultricies sed condimentum orci interdum. Nulla tempor tincidunt lorem eu aliquam. Nulla nibh ante, consequat vel pharetra ut, viverra sed purus. Mauris sed nulla libero, ac vulputate orci. In egestas congue eros non bibendum.</p>
        </article>
        <article>
            <h1>{{ 'sfbcn.index.helloworld'|trans }}</h1>
            <p>Duis dignissim auctor eros ac porta. Donec nec dui vel ligula feugiat gravida. Integer gravida, enim vel pellentesque congue, enim leo imperdiet turpis, eget suscipit risus felis quis tellus. Integer a egestas sem. Nullam consectetur felis eu ante rutrum sed dignissim justo ultricies. Sed sed sem erat, et imperdiet urna. Nunc sagittis venenatis vehicula.</p>
        </article>
        <article>
            <h1>{{ 'sfbcn.index.helloworld'|trans }}</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut iaculis ornare laoreet. Phasellus interdum tincidunt mi, ut faucibus libero eleifend non. Nam pulvinar, mi eget porttitor feugiat, elit mauris tempor tellus, dictum blandit tellus tellus sed est. Nunc sagittis, justo sed fringilla luctus, velit elit faucibus orci, eu vestibulum augue purus scelerisque libero. Vivamus in lacus nibh, sit amet auctor quam. Aliquam erat volutpat. Ut tincidunt nunc pellentesque leo pulvinar adipiscing. </p>
        </article>
    </aside>
{% endblock %}