{# Default/index.html.twig #}
{% extends 'SFBCNWebsiteBundle::layout.html.twig' %}

{% block content %}
    <section class="page-content home">
        <article id="home-left">
            <h2>{{ 'sfbcn.index.whoweare'|trans }}</h2>
            <p>{{ 'sfbcn.index.whowearelong'|trans|raw }}</p>
        </article>
        <article id="home-center">
            <h2>Próximo Evento</h2>
            {% if nextEvent == null %}
                No hay previsto ningún evento en los próximos días
            {% else %}
                <h3><a href="{{ path('events_public_show', { 'id': nextEvent.id })  }}">{{ nextEvent.title }}</a></h3>
                <p>
                    <strong>¿Cuándo?</strong> {{ nextEvent.datetime|date('d/M/Y H:i') }}<br />
                    <strong>¿Dónde?</strong> {{ nextEvent.location }}
                </p>
                {% if nextEvent.gmaps is not empty %}
                <div class="map">
                    <iframe width="310" height="280" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{ nextEvent.gmaps }}&amp;output=embed"></iframe>
                    <br /><small><a href="{{ nextEvent.gmaps }}">Muestra un mapa más grande</a></small>
                </div>
                {% endif %}
            {% endif %}
        </article>
        <article id="twitterfeed">
            <script src="http://widgets.twimg.com/j/2/widget.js"></script>
            <script>
            new TWTR.Widget({
              version: 2,
              type: 'profile',
              rpp: 10,
              interval: 30000,
              width: 'auto',
              height: 400,
              theme: {
                shell: {
                  background: '#333333',
                  color: '#eaeaea'
                },
                tweets: {
                  background: '#f6f6f6',
                  color: '#222222',
                  links: '#08c'
                }
              },
              features: {
                scrollbar: true,
                loop: false,
                live: true,
                behavior: 'all'
              }
            }).render().setUser('symfony_bcn').start();
            </script>
        </article>
    </section>
{% endblock %}